body{
    font-family: 'Poppins', sans-serif;
    margin-left: 10%;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
    font-size: 40px;
}
.half-width{
    width: 50%;
    margin-left: 1%;
    margin-right: 6.5%;
    padding: 2px;
}
.mission-name{
    text-align: center;
}
.half-width img{
    width: 400px;
    height: auto;
    padding-right: 2%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(Red, yellow);
    border-radius: 5px;
    padding: 10px 40px;
    color: white;
}
.flexable-container{
    display: flex;
}
.web-dev{
    background-image: url(images/person);
    background-repeat: no-repeat;
}
.class-item{
    width: 29%;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 1px;
    padding-left: 1px;
    border-left: 1px;
}
.class-item img{
    width: 150px;
    height: auto;
}
#first-part{
    border-image: linear-gradient();
    font-size: 16px;
    background-color: rgba(238, 130, 238, 0.479);
    padding: 40px;
}
#second-part{
    border-image: linear-gradient();
    font-size: 16px;
    background-color: rgba(255, 99, 71, 0.521);
    padding: 40px;
}
#third-part{
    border-image: linear-gradient();
    font-size: 16px;
    background-color: rgba(250, 128, 114, 0.377);
    padding: 40px;
}
.computer-web{
    width: 50%;
    margin-right: 2%;s
}
#computer-part img{
    width: 350px;
    height: auto;

}
#written-part{
    border-image: linear-gradient();
    font-size: 16px;
}
.margin-name{
    margin-top: 100px;
}